<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <div class="container-fluid" style="padding: 0 40px;">
    <a class="navbar-brand me-auto" style="font-family: 'Alegreya', serif; font-size: 35px; padding: 0;" href="/">Privo</a>
      
    <div class="d-flex">
      <div class="navbar-nav" style="display: flex; justify-content:center; align-items: center;">
        <a class="nav-link" href="/">Home</a>
      </div>
    </div>
  </div>
</nav>

<div id="404">
  <div style="max-width: 650px;" class="container text-center pt-5 pb-5">
    <h1 style="font-family: San Francisco;" class="display-1 mb-3">404</h1>
    <hr style="opacity: 0.15;">
    <h2>La pagina richiesta non esiste.</h2>
    <div>
      <p style="opacity: 0.5;">Se pensi si tratti di un errore da parte nostra,<br> scrivi una mail a: davidenadin@outlook.it</p>
    </div>
  </div>
</div>
