<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <div class="container-fluid" style="padding: 0 40px;">
    <a class="navbar-brand me-auto" style="font-family: 'Alegreya', serif; font-size: 35px; padding: 0;" href="/">Privo</a>
      
    <div class="d-flex">
      <div class="navbar-nav" style="display: flex; justify-content:center; align-items: center;">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/login">Accedi</a>
        <a class="nav-link" href="/signup">Registrati</a>
      </div>
    </div>
  </div>
</nav>

<div id="forgot-password" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center" style="font-family: San Francisco;">Reimposta la password</h1>

    <div style="max-width:  450px;" class="mx-auto" v-if="!cloudSuccess">
      <p class="text-center" style="opacity: 0.5;">Inserisci la mail collegata al tuo account.</p>

      <hr style="opacity: 0.15; margin-bottom: 40px;">

      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="davidenadin@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Per favore inserisci un indirizzo email valido.</div>
        </div>

        <cloud-error v-if="cloudError"></cloud-error>
        
        <div class="form-group" style="margin-top: 20px;">
          <ajax-button style="margin-top: 10px; width: 100%;" type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Invia link di recupero.</ajax-button>
        </div>
      </ajax-form>

      <p class="text-center" style="opacity: 0.5; margin-top: 20px;"><a style="color: black;" href="/login">Back to login</a></p>
    </div>

    <div style="max-width:  450px;" class="mx-auto text-center" v-else>
      <p>We've sent you a link to update your password.</p>
      <hr/>
      <p>If the email doesn’t arrive after a few minutes, try checking your spam folder.  If you still can’t find it, please try again, or <a href="/contact">contact support</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Back to login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
