<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <div class="container-fluid" style="padding: 0 40px;">
    <a class="navbar-brand me-auto" style="font-family: 'Alegreya', serif; font-size: 35px; padding: 0;" href="/">Privo</a>
      
    <div class="d-flex">
      <div class="navbar-nav" style="display: flex; justify-content:center; align-items: center;">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link active" aria-current="page" href="">Sign Up</a>
      </div>
    </div>
  </div>
</nav>

<div id="signup" v-cloak>
  <div class="container-fluid pt-5 pb-5" v-if="!cloudSuccess">
    <h1 class="text-center" style="font-family: San Francisco;">Crea un account</h1>

    <div style="max-width: 450px;" class="mx-auto" >
      <p class="text-center" style="opacity: 0.5;">Registrarsi è gratuito e porta via pochi minuti.</p>
      <hr style="opacity: 0.15; margin-bottom: 40px;">

      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" @submitted="submittedForm()">
        <div class="form-group" style="margin-bottom: 20px;">
          <label for="full-name">Nome completo</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Davide Nadin" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Per favore inserisci il tuo nome.</div>
        </div>

        <div class="form-group" style="margin-bottom: 20px;">
          <label for="email-address">Indirizzo email</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="davidenadin@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Per favore inserisci un indirizzo email valido.</div>
        </div>

        <div class="form-group" style="margin-bottom: 20px;">
          <label for="password">Scegli una password</label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Per favore inserisci una password.</div>
        </div>

        <div class="form-group" style="margin-bottom: 20px;">
          <label for="confirm-password">Conferma la password</label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">La password e la conferma non coincidono.</div>
        </div>

        <div class="form-group form-check">
          <input class="form-check-input" id="terms-agreement" type="checkbox" v-model="formData.agreed">
          <label for="terms-agreement" class="form-check-label" :class="[formErrors.agreed ? 'text-danger' : '']"><a style="color: black;" target="_blank" href="/terms">Ho letto e accettato i termini d'uso.</a></label>
        </div>

        <cloud-error style="margin-top: 20px;" v-if="cloudError==='emailAlreadyInUse'"><a href="password/forgot" style="color: rgb(255, 64, 64);">Oh no! Sembra che questa email sia già stata usata... Puoi reimpostare la password qui.</a></cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>

        <div class="form-group">
          <ajax-button style="margin-top: 20px; width: 100%;" type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crea l'account</ajax-button>
        </div>
      </ajax-form>

      <p class="text-center" style="margin-top: 20px; opacity: 0.5;"><a style="color: black;" href="/login">Hai già un account?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>