<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black; z-index: 9999;">
    <div class="container-fluid" style="padding: 0 40px;">
        <a class="navbar-brand me-auto" style="font-family: 'Alegreya', serif; font-size: 35px; padding: 0;" href="/">Privo</a>
        
        <div class="d-flex">
            <div class="navbar-nav" style="display: flex; justify-content:center; align-items: center;">
                <a class="nav-link" href="/account"><i style="font-size: 25px;" class="fas fa-cog"></i></a>
            </div>
        </div>
    </div>
</nav>
  
<div class="container-fluid" id="chatboard" style="z-index: 1;">
    <div class="container-fluid" id="chats-list" style="position: absolute; left: 0; top: 68.5px; background-color: pink; height: calc(100vh - 68.5px); width: 300px; overflow-y: auto; overflow-x: hidden;">

    </div>
</div>